{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}El Laberinto de los Algoritmos{% endblock %}</title>
    
    <!-- Fuentes de Google -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">
    
    <!-- Archivo CSS separado -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Elementos globales -->
    <div id="bg-layer"></div>
    <div id="confetti-global"></div>

    <!-- Aquí se inyectará el contenido de las demás páginas -->
    {% block content %}
    {% endblock %}

    <!-- Archivo JS separado -->
    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>